* :root {
    margin: 0;
    padding: 0;
}
*:focus {
    outline-style: none;
}
body {
    background: url("images/background.png") no-repeat center fixed;
    background-size: cover;
}
.logo {
    display: flex;
    justify-content: center;
    opacity: 0.3;
    margin-top: 30px;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1100px;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}
h1 {
    font-family: Sunflower;
    color: #f8f8f8;
    font-size: 28px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 420px;
}
.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 0 16px rgba(0,0,0,0.3);
}
.form__element {
    width: 95%;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    height: 39px;
    display: flex;
}
.form__element:hover, .form__textarea:hover {
    border-color: dodgerblue;
    box-shadow: 0 0 1px 0 dodgerblue;
}
.form__element:hover > .form__separator {
    background-color: dodgerblue;
}

.form__icon {
    color: #dedede;
    text-align: center;
    flex: 1 1 17%;
    padding-top: 2%;
    font-size: 1.5rem;
}
.form__input {
    border: 0;
    flex: 1 1 80%;
    background-color: #f8f8f8;
    font-size: 17px;
    padding-left: 5%;
}
::placeholder {
    color: #8c8c8c;
}
.form__separator {
    width: 1px;
    background-color: #dedede;
    border-top: 3px solid #f8f8f8;
    border-bottom: 3px solid #f8f8f8;
}
select {
    cursor: pointer;
    color: #8c8c8c;
}
.form__element--check {
    width: 95%;
    display: inline-flex;
    color: #8c8c8c;
}
.form__agreement {
    font-size: 17px;
    margin-left: 10px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.form__button {
    width: 95%;
    background: linear-gradient(#a3d840, #73b618);
    color: #f4f4f4;
    border: 2px solid #73b618;
    height: 39px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form__button:hover, .form__button--small:hover {
    background:linear-gradient(#73b618,#83b22c);
}
.form__textarea {
    width: 92%;
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    font-family: Sunflower, sans-serif;
    font-size: 17px;
    color: #afafaf;
    resize: none;
    padding-left: 2%;
    padding-top: 2%;
    margin: 15px;
}
.button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}
.form__button--small {
    width: 150px;
    background: linear-gradient(#a3d840, #73b618);
    color: #f4f4f4;
    border: 2px solid #73b618;
    height: 39px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form__button--small--done{
    width: 150px;
    background: #a3d840;
    color: #f4f4f4;
    border: 2px solid #a3d840;
    height: 39px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: not-allowed;
}
.form__button--small--no {
    width: 150px;
    background:  #ff4d4d;
    color: #f4f4f4;
    border: 2px solid #ff3333;
    height: 39px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.form__button--small--no:hover {
    background:linear-gradient(#ff3333,#e60000);
}
@media (max-width: 768px) {
    .logo {
        position: center;
    }
    header img {
        width: 95%;
    }
    .main-container {
        flex-wrap: nowrap;
        max-height: none;
    }
    .form {
        width: 85%;
    }
}

